<div style="text-align: right;">
    <a class="close"><%= fa_icon "times" -%></a>
</div>
<%= form_for(@page, data: { remote: true }) do |f| %>
    <%= f.text_field :title %>
    <%= f.submit('更新') %>
<% end %>
