<table>
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr id="<%= page.id %>">
        <% @page = page %>
        <%= render partial: 'pages_ajax/show_form' %>
      </tr>
    <% end %>
  </tbody>
</table>
